---
http_interactions:
- request:
    method: get
    uri: http://cwa.dotcomdistribution.com/dcd_api_test/DCDAPIService.svc/shipment?fromShipDate=2011-01-01&toShipDate=2013-10-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 0ec79156828ad21b109a616aa3ca920e:DURrhUA/RKFTDOYsS1HJeA==
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<response xmlns="http://dcd/datacontracts/shipment" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><shipments
        xmlns:a="http://schemas.datacontract.org/2004/07/DCDAPIService"><a:shipment><a:client_order_number>3779</a:client_order_number><a:customer_number>ting33442</a:customer_number><a:dcd_order_number>0202102878</a:dcd_order_number><a:dcd_order_release_number>01</a:dcd_order_release_number><a:order_date>6/26/2012
        12:00:00 AM</a:order_date><a:order_shipping_handling>8.75</a:order_shipping_handling><a:order_status>Shipped</a:order_status><a:order_subtotal>330.0000</a:order_subtotal><a:order_tax>0.00</a:order_tax><a:order_total>338.7500</a:order_total><a:ship_date>06/27/2012</a:ship_date><a:ship_items><a:ship_item><a:carrier>UPS</a:carrier><a:carton_id>C007526227</a:carton_id><a:client_line_number>1</a:client_line_number><a:item_description>The
        A Pocket fit sits comfor  </a:item_description><a:item_unit_price>165.00</a:item_unit_price><a:order_line_number>1</a:order_line_number><a:quantity_shipped>2.00</a:quantity_shipped><a:serial_lot_number/><a:service>UPS
        Ground</a:service><a:service_code>03</a:service_code><a:sku>7FO-100169-NAK-26</a:sku><a:tracking_number>1ZV2X5140300000585</a:tracking_number><a:upc/></a:ship_item><a:ship_item><a:carrier>UPS</a:carrier><a:carton_id>C007526227</a:carton_id><a:client_line_number>2</a:client_line_number><a:item_description>The
        A Pocket fit sits comfor  </a:item_description><a:item_unit_price>165.00</a:item_unit_price><a:order_line_number>2</a:order_line_number><a:quantity_shipped>2.00</a:quantity_shipped><a:serial_lot_number/><a:service>UPS
        Ground</a:service><a:service_code>03</a:service_code><a:sku>7FO-100169-NAK-24</a:sku><a:tracking_number>1ZV2X5140300000585</a:tracking_number><a:upc/></a:ship_item></a:ship_items><a:ship_weight>1.00</a:ship_weight><a:shipto_addr1>West
        Newport Center Drive</a:shipto_addr1><a:shipto_addr2/><a:shipto_city>Deerfield
        Beach</a:shipto_city><a:shipto_email_address>skannan@mainstreetcommerce.com</a:shipto_email_address><a:shipto_name>Mainstreet
        Testing</a:shipto_name><a:shipto_state>FL</a:shipto_state><a:shipto_zip>33442</a:shipto_zip></a:shipment><a:shipment><a:client_order_number>3778</a:client_order_number><a:customer_number>ting33442</a:customer_number><a:dcd_order_number>0202102888</a:dcd_order_number><a:dcd_order_release_number>01</a:dcd_order_release_number><a:order_date>6/26/2012
        12:00:00 AM</a:order_date><a:order_shipping_handling>8.75</a:order_shipping_handling><a:order_status>Shipped</a:order_status><a:order_subtotal>165.0000</a:order_subtotal><a:order_tax>0.00</a:order_tax><a:order_tota[...]
