---
http_interactions:
- request:
    method: post
    uri: http://cwa.dotcomdistribution.com/dcd_api_test/DCDAPIService.svc/order
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <orders>
          <order>
            <order-number>H215918586</order-number>
            <ship_date>2013-07-30</ship_date>
            <ship-method>01</ship-method>
            <invoice-number>0</invoice-number>
            <order-date>2013-10-21</order-date>
            <ship_via></ship_via>
            <special-instructions></special-instructions>
            <special-messaging></special-messaging>
            <drop-ship></drop-ship>
            <ok-partial-ship></ok-partial-ship>
            <declared-value>0</declared-value>
            <cancel-date>2013-10-21</cancel-date>
            <total-tax>0</total-tax>
            <total-shipping-handling>0</total-shipping-handling>
            <total-discount>0</total-discount>
            <total-order-amount>0</total-order-amount>
            <po-number></po-number>
            <salesman></salesman>
            <credit-card-number></credit-card-number>
            <credit-card-expiration></credit-card-expiration>
            <ad-code></ad-code>
            <continuity-flag></continuity-flag>
            <freight-terms></freight-terms>
            <department></department>
            <pay-terms></pay-terms>
            <tax-percent>0</tax-percent>
            <asn-qualifier></asn-qualifier>
            <gift-order-indicator></gift-order-indicator>
            <order-source></order-source>
            <promise-date>2013-10-21</promise-date>
            <third-party-account></third-party-account>
            <priority></priority>
            <retail-department></retail-department>
            <retail-store></retail-store>
            <retail-vendor></retail-vendor>
            <pool></pool>
            <billing-information>
              <billing-customer-number></billing-customer-number>
              <billing-name>A</billing-name>
              <billing-company></billing-company>
              <billing-address1>A</billing-address1>
              <billing-address2>A</billing-address2>
              <billing-address3>A</billing-address3>
              <billing-city>A</billing-city>
              <billing-state></billing-state>
              <billing-zip>20814</billing-zip>
              <billing-country></billing-country>
              <billing-phone></billing-phone>
              <billing-email></billing-email>
            </billing-information>
            <custom-fields>
              <custom-field-1></custom-field-1>
              <custom-field-2></custom-field-2>
              <custom-field-3></custom-field-3>
              <custom-field-4></custom-field-4>
              <custom-field-5></custom-field-5>
            </custom-fields>
            <shipping-information>
              <shipping-customer-number></shipping-customer-number>
              <shipping-name>Brian Quinn</shipping-name>
              <shipping-address1>7735 Old Georgetown Rd</shipping-address1>
              <shipping-address2></shipping-address2>
              <shipping-address3></shipping-address3>
              <shipping-city>Bethesda</shipping-city>
              <shipping-state>MD</shipping-state>
              <shipping-country>US</shipping-country>
              <shipping-iso-country-code></shipping-iso-country-code>
              <shipping-zip>20814</shipping-zip>
              <shipping-phone>555-123-456</shipping-phone>
              <shipping-email>spree@example.com</shipping-email>
              <shipping-company></shipping-company>
            </shipping-information>
            <store-information>
              <store-name>Brian Quinn</store-name>
              <store-address1>7735 Old Georgetown Rd</store-address1>
              <store-address2></store-address2>
              <store-city>Bethesda</store-city>
              <store-state>MD</store-state>
              <store-country>US</store-country>
              <store-zip>20814</store-zip>
              <store-phone>555-123-456</store-phone>
            </store-information>
            <line-items>
              <line-item>
                <client-item>8</client-item>
                <sku>7FO-100169-NAK-24</sku>
                <quantity>1</quantity>
                <price>19.99</price>
                <tax>0</tax>
                <shipping-handling>0</shipping-handling>
                <line-number></line-number>
                <gift-box-wrap-quantity>0</gift-box-wrap-quantity>
                <gift-box-wrap-type></gift-box-wrap-type>
              </line-item>
              <line-item>
                <client-item>20</client-item>
                <sku>7FO-100169-NAK-25</sku>
                <quantity>1</quantity>
                <price>19.99</price>
                <tax>0</tax>
                <shipping-handling>0</shipping-handling>
                <line-number></line-number>
                <gift-box-wrap-quantity>0</gift-box-wrap-quantity>
                <gift-box-wrap-type></gift-box-wrap-type>
              </line-item>
            </line-items>
          </order>
        </orders>
    headers:
      Authorization:
      - 0ec79156828ad21b109a616aa3ca920e:Rzw2L51xhSZb5cns4r8ZnQ==
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <response xmlns="http://dcd/datacontracts/post_order" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><order_errors
        xmlns:a="http://schemas.datacontract.org/2004/07/DCDAPIService"/></response>
  recorded_at: Mon, 21 Oct 2013 18:34:22 GMT
recorded_with: VCR 2.6.0
